html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

h2 {
  text-align: center;
  margin: 0;
  font-size: 5vh;
  color: pink;
}

.landing-page {
  height: 100%;
  width: 100%;
}

.cat-image {
  height: 80vh;
  width: 70vw;
  display: block;
  margin: 0 auto 0 auto;
  border: 2px solid pink;
}

.refresh-page-button {
  display: block;
  margin: 0 auto 3vw auto;
  width: 25vw;
  height: 5vh;
  background-color: pink;
  border-radius: 20px;
  color: rgb(55, 44, 44);
}

.tagline {
  text-align: center;
  font-style: italic;
  margin-top: 1vh;
  font-size: 3vh;
  color: white;
}
