html {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
}

.landing-page {
  height: 100%;
  width: 100%;
}

.cat-image {
  height: 80vh;
  width: auto;
  display: block;
  margin: 0 auto 0 auto;
  border: 2px solid pink;
}

.refresh-page-button {
  display: block;
  margin: 0 auto 3vw auto;
  width: 25vw;
  height: 5vh;
  background-color: pink;
}
